@use "../scss/variables.scss" as *;

.appartementHeader {
  display: flex;
  margin-bottom: 2rem;
  gap: 1rem;
  @media screen and (width <= 768px) {
    flex-direction: column;
  }
  .appartementTitle {
    flex-grow: 1;
    margin-left: 5%;
  }
  .appartementOwner {
    display: flex;
    flex-direction: column;
    margin-right: 6%;
    margin-left: 5%;
    align-items: flex-end;
    @media screen and (width <= 768px) {
      flex-direction: row;
      justify-content: space-between;
    }
  }
  .appartementOwnerDetails {
    display: flex;
    gap: 0.5rem;
    @media screen and (width <= 768px) {
      order: 1;
    }
  }
  .appartementOwner__badge img {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-color: $background-dark;
  }
  .appartementEtoile {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.2rem;
    color: $background-dark;
    * {
      font-size: 2rem;
    }
    .on {
      color: $color-primary;
    }
  }
  h1 {
    font-weight: 400;
    margin-block: 0;

    @media screen and (width <= 768px) {
    font-size: larger;
    }
  }
  h2 {
    font-weight: 400;
    margin-top: -7px;
    margin-bottom: 0.2em;
    font-size: 20px;
    padding-block: 11px;
  }

  .appartementTags {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 150px));
    gap: 1rem;

    @media screen and (width <= 768px) {
      grid-template-columns: repeat(auto-fit, minmax(100px, 100px));
      font-size: xx-small;
    }
    span {
      background-color: $color-primary;
      color: $color-tertiary;
      padding: 0.3em 0.5em;
      border-radius: 0.7rem;
      text-align: center;
    }
  }
  h3 {
    margin-block: 0;
    display: flex;
    flex-direction: column;
    align-items: end;
    font-weight: 400;
  }
}
