.navbar {
    display: flex;
    gap: 2rem;
    align-items: center;
    padding: 0 2rem;
    color: red;
    margin-right: 4%;
    margin-bottom: 2%;
    @media screen and (width <= 475px) {
        padding: 0 0rem;
        padding-right: 9px;

}

}

.navbar a {
    text-decoration: none;
    color: red;
}

.navbarLogo {
    margin-right: auto;

}

.logo {
    width: 210px;
    height: 68px;
    padding-top: 6%;
    padding-left: 10%;
    @media screen and (width <= 475px) {
        width: 145px;
        height: 47px;
        

}

}